<main class="main">
  <section class="section block-banner-about-1">
    <div class="container">
      <div class="text-center box-info-banner wow bounceIn">
        <h1>{{'about.banner.title_line1' | translate}} <br class="d-none d-lg-block" />{{'about.banner.title_line2' |
          translate}}</h1>
      </div>
    </div>
  </section>
  <section class="section block-our-shop">
    <div class="container">
      <div class="text-center wow bounceIn">
        <p class="text-17-medium text-uppercase mb-15 primary-navy">{{'about.our_shop.subtitle' | translate}}</p>
        <h3 class="mb-15">
          {{'about.our_shop.title_line1' | translate}} <br class="d-none d-lg-block" />{{'about.our_shop.title_line2' |
          translate}}
        </h3>
        <div class="box-slide-customers">
          <p class="body-p2 neutral-medium-dark">
            {{'about.our_shop.description' | translate}}
          </p>
        </div>
      </div>
      <div class="row mt-60 wow bounceIn">
        <div class="col-lg-6">
          <img src="/imgs/page/about1/about1.png" alt="Guza" />
        </div>
        <div class="col-lg-6">
          <img src="/imgs/page/about1/about2.png" alt="Guza" />
        </div>
      </div>
    </div>
  </section>
  <section class="section block-icon-box">
    <div class="container">
      <div class="text-center">
        <h6 class="text-17-medium primary-navy text-uppercase mb-15 wow fadeInLeft">
          {{'about.quality_promise.subtitle' | translate}}
        </h6>
        <h3 class="mb-65 wow fadeInRight">{{'about.quality_promise.title' | translate}}</h3>
      </div>
      <div class="row">
        <div class="col-lg-4 hasborder">
          <div class="cardIcon wow fadeInUp">
            <div class="cardImage">
              <img src="/imgs/page/homepage7/simplicity.svg" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h6 class="cardTitle">{{'about.quality_promise.shipping.title' | translate}}</h6>
              <p class="body-p2">{{'about.quality_promise.shipping.description' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 hasborder">
          <div class="cardIcon wow fadeInUp">
            <div class="cardImage">
              <img src="/imgs/page/homepage7/clothes.svg" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h6 class="cardTitle">{{'about.quality_promise.returns.title' | translate}}</h6>
              <p class="body-p2">{{'about.quality_promise.returns.description' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="cardIcon wow fadeInUp">
            <div class="cardImage">
              <img src="/imgs/page/homepage7/nature.svg" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h6 class="cardTitle">{{'about.quality_promise.payment.title' | translate}}</h6>
              <p class="body-p2">{{'about.quality_promise.payment.description' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section block-testimonials">
    <div class="container">
      <div class="text-center wow bounceIn">
        <p class="text-17-medium text-uppercase mb-15 primary-navy">{{'about.testimonials.subtitle' | translate}}</p>
        <h3 class="neutral-dark mb-40 wow fadeInLeft">{{'about.testimonials.title' | translate}}</h3>
      </div>
      <div class="box-slide-customers wow fadeInUp wow bounceIn">
        <div class="box-swiper">
          <div class="swiper-container swiper-banner">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <p class="text-italic-28 mb-30">
                  {{'about.testimonials.review_text' | translate}}
                </p>
                <p class="text-16-medium">{{'about.testimonials.reviewer_name' | translate}}</p>
              </div>
              <div class="swiper-slide">
                <p class="text-italic-28 mb-30">
                  {{'about.testimonials.review_text' | translate}}
                </p>
                <p class="text-16-medium">{{'about.testimonials.reviewer_name' | translate}}</p>
              </div>
              <div class="swiper-slide">
                <p class="text-italic-28 mb-30">
                  {{'about.testimonials.review_text' | translate}}
                </p>
                <p class="text-16-medium">{{'about.testimonials.reviewer_name' | translate}}</p>
              </div>
            </div>
            <div class="box-pagination-button">
              <div class="swiper-pagination swiper-pagination-banner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section block-team">
    <div class="container">
      <div class="text-center wow bounceIn">
        <p class="text-17-medium text-uppercase mb-15 primary-navy">{{'about.team.subtitle' | translate}}</p>
        <h3 class="mb-15">{{'about.team.title' | translate}}</h3>
      </div>
      <div class="row mt-60 wow zoomIn">
        <div class="col-lg-4">
          <div class="cardTeam">
            <div class="cardImage">
              <img src="/imgs/page/about1/team.png" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h6 class="cardTitle text-17-medium">{{'about.team.anna.name' | translate}}</h6>
              <p class="cardDesc text-17 neutral-medium-dark">{{'about.team.anna.position' | translate}}</p>
              <div class="socials">
                <a routerLink=""><img src="/imgs/page/about1/fb.svg" alt="Guza" /></a><a href="#"><img
                    src="/imgs/page/about1/insta.svg" alt="Guza" /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="cardTeam">
            <div class="cardImage">
              <img src="/imgs/page/about1/team2.png" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h6 class="cardTitle text-17-medium">{{'about.team.terry.name' | translate}}</h6>
              <p class="cardDesc text-17 neutral-medium-dark">{{'about.team.terry.position' | translate}}</p>
              <div class="socials">
                <a href="#"><img src="/imgs/page/about1/fb.svg" alt="Guza" /></a><a href="#"><img
                    src="/imgs/page/about1/insta.svg" alt="Guza" /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="cardTeam">
            <div class="cardImage">
              <img src="/imgs/page/about1/team3.png" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h6 class="cardTitle text-17-medium">{{'about.team.ruben.name' | translate}}</h6>
              <p class="cardDesc text-17 neutral-medium-dark">{{'about.team.ruben.position' | translate}}</p>
              <div class="socials">
                <a href="#"><img src="/imgs/page/about1/fb.svg" alt="Guza" /></a><a href="#"><img
                    src="/imgs/page/about1/insta.svg" alt="Guza" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>