<main class="main">
  <div class="section">
    <div class="box-commingsoon">
      <div class="commingsoon-left">
        <div class="box-logo-commingsoon mb-170">
          <a href="#"><img src="/imgs/template/logo.png" alt="Guza" /></a>
        </div>
        <div class="box-info-commingsoon">
          <h2 class="mb-10">Under Construction!</h2>
          <p class="body-p2 mb-25">
            To make somethings right we need some time to rebuild. Get notified when we are done.
          </p>
          <div class="form-newsletters mt-40">
            <form class="form-inline" action="#">
              <input class="form-control" type="text" placeholder="Email *" />
              <button class="btn btn-black">Subcribe</button>
            </form>
          </div>
          <div class="mt-180">
            <div class="socials">
              <a href="#"><img src="/imgs/page/about1/fb.svg" alt="Guza" /></a
              ><a href="#"><img src="/imgs/page/about1/insta.svg" alt="Guza" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="commingsoon-right maintenance-right"></div>
    </div>
  </div>
</main>
