@if (activePopup === 'preview') {
  <div class="box-popup-preview">
    <a class="btn-close-popup"><img src="/imgs/template/icons/close-popup.svg" alt="kidify" /></a>
    <div class="box-popup-content">
      <div class="preview-product-image">
        <div class="detail-gallery detail-gallery-2">
          <div class="box-main-gallery">
            <a class="zoom-image glightbox" href="/imgs/page/product/img.png"></a>
            <div class="product-image-slider product-image-slider-preview">
              <figure class="border-radius-10">
                <a class="glightbox" href="/imgs/page/product/img.png"
                  ><img src="/imgs/page/product/img.png" alt="kidify"
                /></a>
              </figure>
              <figure class="border-radius-10">
                <a class="glightbox" href="/imgs/page/product/img.png"
                  ><img src="/imgs/page/product/img.png" alt="kidify"
                /></a>
              </figure>
              <figure class="border-radius-10">
                <a class="glightbox" href="/imgs/page/product/img.png"
                  ><img src="/imgs/page/product/img.png" alt="kidify"
                /></a>
              </figure>
              <figure class="border-radius-10">
                <a class="glightbox" href="/imgs/page/product/img.png"
                  ><img src="/imgs/page/product/img.png" alt="kidify"
                /></a>
              </figure>
              <figure class="border-radius-10">
                <a class="glightbox" href="/imgs/page/product/img.png"
                  ><img src="/imgs/page/product/img.png" alt="kidify"
                /></a>
              </figure>
              <figure class="border-radius-10">
                <a class="glightbox" href="/imgs/page/product/img.png"
                  ><img src="/imgs/page/product/img.png" alt="kidify"
                /></a>
              </figure>
              <figure class="border-radius-10">
                <a class="glightbox" href="/imgs/page/product/img.png"
                  ><img src="/imgs/page/product/img.png" alt="kidify"
                /></a>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="preview-product-info">
        <div class="box-product-info">
          <h3 class="mb-5">{{ 'popup.preview.title' | translate }}</h3>
          <div class="block-rating">
            <img src="/imgs/template/icons/star-fill.svg" alt="Guza" /><img
              src="/imgs/template/icons/star-fill.svg"
              alt="Guza"
            /><img src="/imgs/template/icons/star-fill.svg" alt="Guza" /><img
              src="/imgs/template/icons/star-fill.svg"
              alt="Guza"
            /><img src="/imgs/template/icons/star-none.svg" alt="Guza" /><span
              class="text-17 neutral-medium-dark"
              >(5)</span
            >
          </div>
          <div class="block-price">
            <span class="price-main">$15.00</span><span class="price-line">$25.00</span>
          </div>
          <p class="body-p2 viewed-guest viewed-guest-black mb-25">
            <span class="text-17-medium">24 {{ 'popup.preview.guests_viewing' | translate }}</span>
          </p>
          <div class="block-description">
            <p class="body-p2 neutral-medium-dark">
              {{ 'popup.preview.description' | translate }}
            </p>
          </div>
          <div class="block-quantity">
            <div class="text-17 neutral-medium-dark mb-10">
              {{ 'popup.preview.quantity' | translate }}
            </div>
            <div class="box-form-cart">
              <div class="form-cart detail-qty">
                <span class="minus"></span>
                <input
                  class="qty-val form-control"
                  type="text"
                  name="quantity"
                  value="1"
                  min="1"
                /><span class="plus"></span>
              </div>
              <a class="btn btn-black">{{ 'popup.preview.add_to_cart' | translate }}</a
              ><a class="btn btn-navy">{{ 'popup.preview.buy_now' | translate }}</a>
            </div>
          </div>
          <div class="block-tags-product">
            <p class="body-p2">
              <span class="neutral-medium-dark">{{ 'popup.preview.sku' | translate }}</span
              ><span class="neutral-dark">C66R8B47MP</span>
            </p>
            <p class="body-p2">
              <span class="neutral-medium-dark">{{ 'popup.preview.categories' | translate }}</span>
              <a class="neutral-dark">{{ 'popup.preview.category_dress' | translate }},</a>
              <a class="neutral-dark">{{ 'popup.preview.category_pants' | translate }}</a>
            </p>

            <p class="body-p2">
              <span class="neutral-medium-dark">{{ 'popup.preview.tags' | translate }}</span>
              <a class="neutral-dark">{{ 'popup.preview.tag_fashion' | translate }},</a>
              <a class="neutral-dark">{{ 'popup.preview.tag_shoes' | translate }},</a>
              <a class="neutral-dark">{{ 'popup.preview.tag_women' | translate }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
}
@if (activePopup === 'search') {
  <div class="box-popup-search ele-popup-search show" [class.active]="activePopup === 'search'">
    <div class="box-search-overlay" (click)="close()"></div>
    <div class="box-search-wrapper" [class.active]="activePopup === 'search'">
      <h5 class="mb-15">{{ 'popup.search.title' | translate }}</h5>
      <form action="#">
        <div class="form-group">
          <select class="form-control arrow-select">
            <option>{{ 'popup.search.all_categories' | translate }}</option>
            <option>{{ 'popup.search.category_animals' | translate }}</option>
            <option>{{ 'popup.search.category_baby' | translate }}</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control search-icon" type="text" />
        </div>
      </form>
      <div class="box-quick-search">
        <span class="text-17 neutral-medium-dark">{{
          'popup.search.quick_search' | translate
        }}</span
        ><a class="text-17">{{ 'popup.search.tshirt' | translate }}</a
        ><a class="text-17">{{ 'popup.search.jeans' | translate }}</a
        ><a class="text-17">{{ 'popup.search.mens' | translate }}</a>
      </div>
      <div class="box-products-search">
        <h6 class="text-18-medium mb-10">{{ 'popup.search.you_may_like' | translate }}</h6>
        <div class="box-list-product-search">
          <div class="item-product-search">
            <div class="cardProductStyle3 cardProductType03 cardProductType02 wow fadeInUp">
              <div class="cardImage">
                <a
                  ><img class="imageMain" src="/imgs/page/popup/product-1.png" alt="guza" /><img
                    class="imageHover"
                    src="/imgs/page/popup/product-5.png"
                    alt="guza"
                /></a>
                <div class="button-select">
                  <a>{{ 'popup.search.select_options' | translate }}</a>
                </div>
                <div class="box-quick-button">
                  <a class="btn">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="28"
                      height="28"
                      viewbox="0 0 28 28"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_116_452)">
                        <path
                          d="M14.001 6.52898C16.35 4.41998 19.98 4.48998 22.243 6.75698C24.505 9.02498 24.583 12.637 22.479 14.993L13.999 23.485L5.52101 14.993C3.41701 12.637 3.49601 9.01898 5.75701 6.75698C8.02201 4.49298 11.645 4.41698 14.001 6.52898ZM20.827 8.16998C19.327 6.66798 16.907 6.60698 15.337 8.01698L14.002 9.21498L12.666 8.01798C11.091 6.60598 8.67601 6.66798 7.17201 8.17198C5.68201 9.66198 5.60701 12.047 6.98001 13.623L14 20.654L21.02 13.624C22.394 12.047 22.319 9.66498 20.827 8.16998Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_116_452">
                          <rect
                            width="24"
                            height="24"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg></a
                  ><a class="btn">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="24"
                      height="24"
                      viewbox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_200_1102)">
                        <path
                          d="M15.375 12.0416L19.5 16.1666L15.375 20.2916L14.1967 19.1133L16.31 16.9991L5.33333 17V15.3333H16.31L14.1967 13.22L15.375 12.0416ZM8.625 3.70831L9.80333 4.88665L7.69 6.99998H18.6667V8.66665H7.69L9.80333 10.78L8.625 11.9583L4.5 7.83331L8.625 3.70831Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_200_1102">
                          <rect
                            width="20"
                            height="20"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg></a
                  ><a class="btn preview-product">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="28"
                      height="28"
                      viewbox="0 0 28 28"
                      fill=""
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_91_73)">
                        <path
                          d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_91_73">
                          <rect
                            width="24"
                            height="24"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg
                  ></a>
                </div>
              </div>
              <div class="cardInfo">
                <h6 class="text-16-medium">illow Covers Luxury</h6>
                <p class="body-p2 cardDesc">$24.00</p>
              </div>
            </div>
          </div>
          <div class="item-product-search">
            <div class="cardProductStyle3 cardProductType03 cardProductType02 wow fadeInUp">
              <div class="cardImage">
                <a
                  ><img class="imageMain" src="/imgs/page/popup/product-2.png" alt="guza" /><img
                    class="imageHover"
                    src="/imgs/page/popup/product-6.png"
                    alt="guza"
                /></a>
                <div class="button-select">
                  <a>{{ 'popup.search.select_options' | translate }}</a>
                </div>
                <div class="box-quick-button">
                  <a class="btn">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="28"
                      height="28"
                      viewbox="0 0 28 28"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_116_452)">
                        <path
                          d="M14.001 6.52898C16.35 4.41998 19.98 4.48998 22.243 6.75698C24.505 9.02498 24.583 12.637 22.479 14.993L13.999 23.485L5.52101 14.993C3.41701 12.637 3.49601 9.01898 5.75701 6.75698C8.02201 4.49298 11.645 4.41698 14.001 6.52898ZM20.827 8.16998C19.327 6.66798 16.907 6.60698 15.337 8.01698L14.002 9.21498L12.666 8.01798C11.091 6.60598 8.67601 6.66798 7.17201 8.17198C5.68201 9.66198 5.60701 12.047 6.98001 13.623L14 20.654L21.02 13.624C22.394 12.047 22.319 9.66498 20.827 8.16998Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_116_452">
                          <rect
                            width="24"
                            height="24"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg></a
                  ><a class="btn">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="24"
                      height="24"
                      viewbox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_200_1102)">
                        <path
                          d="M15.375 12.0416L19.5 16.1666L15.375 20.2916L14.1967 19.1133L16.31 16.9991L5.33333 17V15.3333H16.31L14.1967 13.22L15.375 12.0416ZM8.625 3.70831L9.80333 4.88665L7.69 6.99998H18.6667V8.66665H7.69L9.80333 10.78L8.625 11.9583L4.5 7.83331L8.625 3.70831Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_200_1102">
                          <rect
                            width="20"
                            height="20"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg></a
                  ><a class="btn preview-product">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="28"
                      height="28"
                      viewbox="0 0 28 28"
                      fill=""
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_91_73)">
                        <path
                          d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_91_73">
                          <rect
                            width="24"
                            height="24"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg
                  ></a>
                </div>
              </div>
              <div class="cardInfo">
                <h6 class="text-16-medium">Pillow Covers Linen</h6>
                <p class="body-p2 cardDesc">$36.00</p>
              </div>
            </div>
          </div>
          <div class="item-product-search">
            <div class="cardProductStyle3 cardProductType03 cardProductType02 wow fadeInUp">
              <div class="cardImage">
                <a
                  ><img class="imageMain" src="/imgs/page/popup/product-3.png" alt="guza" /><img
                    class="imageHover"
                    src="/imgs/page/popup/product-7.png"
                    alt="guza"
                /></a>
                <div class="button-select">
                  <a>{{ 'popup.search.select_options' | translate }}</a>
                </div>
                <div class="box-quick-button">
                  <a class="btn">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="28"
                      height="28"
                      viewbox="0 0 28 28"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_116_452)">
                        <path
                          d="M14.001 6.52898C16.35 4.41998 19.98 4.48998 22.243 6.75698C24.505 9.02498 24.583 12.637 22.479 14.993L13.999 23.485L5.52101 14.993C3.41701 12.637 3.49601 9.01898 5.75701 6.75698C8.02201 4.49298 11.645 4.41698 14.001 6.52898ZM20.827 8.16998C19.327 6.66798 16.907 6.60698 15.337 8.01698L14.002 9.21498L12.666 8.01798C11.091 6.60598 8.67601 6.66798 7.17201 8.17198C5.68201 9.66198 5.60701 12.047 6.98001 13.623L14 20.654L21.02 13.624C22.394 12.047 22.319 9.66498 20.827 8.16998Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_116_452">
                          <rect
                            width="24"
                            height="24"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg></a
                  ><a class="btn">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="24"
                      height="24"
                      viewbox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_200_1102)">
                        <path
                          d="M15.375 12.0416L19.5 16.1666L15.375 20.2916L14.1967 19.1133L16.31 16.9991L5.33333 17V15.3333H16.31L14.1967 13.22L15.375 12.0416ZM8.625 3.70831L9.80333 4.88665L7.69 6.99998H18.6667V8.66665H7.69L9.80333 10.78L8.625 11.9583L4.5 7.83331L8.625 3.70831Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_200_1102">
                          <rect
                            width="20"
                            height="20"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg></a
                  ><a class="btn preview-product">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="28"
                      height="28"
                      viewbox="0 0 28 28"
                      fill=""
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_91_73)">
                        <path
                          d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_91_73">
                          <rect
                            width="24"
                            height="24"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg
                  ></a>
                </div>
              </div>
              <div class="cardInfo">
                <h6 class="text-16-medium">Pillow Cushion</h6>
                <p class="body-p2 cardDesc">$27.00</p>
              </div>
            </div>
          </div>
          <div class="item-product-search">
            <div class="cardProductStyle3 cardProductType03 cardProductType02 wow fadeInUp">
              <div class="cardImage">
                <a
                  ><img class="imageMain" src="/imgs/page/popup/product-4.png" alt="guza" /><img
                    class="imageHover"
                    src="/imgs/page/popup/product-8.png"
                    alt="guza"
                /></a>
                <div class="button-select">
                  <a>{{ 'popup.search.select_options' | translate }}</a>
                </div>
                <div class="box-quick-button">
                  <a class="btn">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="28"
                      height="28"
                      viewbox="0 0 28 28"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_116_452)">
                        <path
                          d="M14.001 6.52898C16.35 4.41998 19.98 4.48998 22.243 6.75698C24.505 9.02498 24.583 12.637 22.479 14.993L13.999 23.485L5.52101 14.993C3.41701 12.637 3.49601 9.01898 5.75701 6.75698C8.02201 4.49298 11.645 4.41698 14.001 6.52898ZM20.827 8.16998C19.327 6.66798 16.907 6.60698 15.337 8.01698L14.002 9.21498L12.666 8.01798C11.091 6.60598 8.67601 6.66798 7.17201 8.17198C5.68201 9.66198 5.60701 12.047 6.98001 13.623L14 20.654L21.02 13.624C22.394 12.047 22.319 9.66498 20.827 8.16998Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_116_452">
                          <rect
                            width="24"
                            height="24"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg></a
                  ><a class="btn">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="24"
                      height="24"
                      viewbox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_200_1102)">
                        <path
                          d="M15.375 12.0416L19.5 16.1666L15.375 20.2916L14.1967 19.1133L16.31 16.9991L5.33333 17V15.3333H16.31L14.1967 13.22L15.375 12.0416ZM8.625 3.70831L9.80333 4.88665L7.69 6.99998H18.6667V8.66665H7.69L9.80333 10.78L8.625 11.9583L4.5 7.83331L8.625 3.70831Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_200_1102">
                          <rect
                            width="20"
                            height="20"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg></a
                  ><a class="btn preview-product">
                    <svg
                      class="d-inline-flex align-items-center justify-content-center"
                      width="28"
                      height="28"
                      viewbox="0 0 28 28"
                      fill=""
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_91_73)">
                        <path
                          d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z"
                          fill=""
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_91_73">
                          <rect
                            width="24"
                            height="24"
                            fill="white"
                            transform="translate(2 2)"
                          ></rect>
                        </clippath>
                      </defs></svg
                  ></a>
                </div>
              </div>
              <div class="cardInfo">
                <h6 class="text-16-medium">Pillow Covers Linen</h6>
                <p class="body-p2 cardDesc">$98.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
@if (activePopup === 'login' || activePopup === 'signup') {
  <div class="box-popup-account">
    <div class="box-account-overlay"></div>
    <div class="box-account-wrapper" (click)="$event.stopPropagation()">
      <a class="btn-close-popup btn-close-popup-account" (click)="close()">
        <svg
          class="icon-16 d-inline-flex align-items-center justify-content-center"
          fill="#111111"
          stroke="#111111"
          width="24"
          height="24"
          viewbox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </a>

      <div class="form-account-info">
        @if (accountView !== 'reset') {
          <a
            class="button-tab btn-for-login"
            [class.active]="accountView === 'login'"
            (click)="accountView = 'login'"
          >
            {{ 'popup.account.login_tab' | translate }}
          </a>
          <a
            class="button-tab btn-for-signup"
            [class.active]="accountView === 'signup'"
            (click)="accountView = 'signup'"
          >
            {{ 'popup.account.signup_tab' | translate }}
          </a>
        }

        @if (accountView === 'login') {
          <div class="form-login">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                [placeholder]="'popup.account.email' | translate"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                [placeholder]="'popup.account.password' | translate"
              />
            </div>
            <div class="form-group" (click)="$event.stopPropagation()">
              <a class="link-under buttun-forgotpass" (click)="accountView = 'reset'">
                {{ 'popup.account.forgot_password' | translate }}
              </a>
            </div>
            <div class="form-group">
              <button class="btn btn-black d-block">
                {{ 'popup.account.login_button' | translate }}
              </button>
            </div>
          </div>
        }

        @if (accountView === 'signup') {
          <div class="form-register">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                [placeholder]="'popup.account.first_name' | translate"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                [placeholder]="'popup.account.last_name' | translate"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                [placeholder]="'popup.account.email' | translate"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                [placeholder]="'popup.account.password' | translate"
              />
            </div>
            <div class="form-group">
              <label class="d-flex align-items-start">
                <input class="cb-agree" type="checkbox" />
                <span class="text-agree body-p2">
                  {{ 'popup.account.agree_text' | translate }}
                </span>
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-black d-block">
                {{ 'popup.account.create_account' | translate }}
              </button>
            </div>
          </div>

          <div class="text-center">
            <p class="body-p2 neutral-medium-dark">
              {{ 'popup.account.already_account' | translate }}
              <a class="neutral-dark login-now" (click)="accountView = 'login'">
                {{ 'popup.account.login_now' | translate }}
              </a>
            </p>
          </div>
        }
      </div>

      @if (accountView === 'reset') {
        <div class="form-password-info">
          <h5>{{ 'popup.account.recover_password' | translate }}</h5>
          <div class="form-login">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                [placeholder]="'popup.account.enter_email' | translate"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-black d-block">
                {{ 'popup.account.recover' | translate }}
              </button>
            </div>
            <div class="text-center">
              <p class="body-p2 neutral-medium-dark">
                {{ 'popup.account.already_account' | translate }}
                <a class="neutral-dark login-now" (click)="accountView = 'login'">
                  {{ 'popup.account.login_now' | translate }}
                </a>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}

@if (activePopup === 'cart') {
  <div class="box-popup-cart sho" [class.active]="activePopup === 'cart'">
    <div class="box-cart-overlay" (click)="close()"></div>
    <div
      class="box-cart-wrapper"
      [class.active]="activePopup === 'cart'"
      (click)="$event.stopPropagation()"
    >
      <h5 class="mb-15">
        {{ 'popup.cart.title' | translate }}
        @if (isCartLoading() || isItemLoading()) {
          <div class="py-2 text-center">
            <div class="spinner-border spinner-border-sm" role="status" aria-label="Loading">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        } @else {
          ({{ totalQty() }})
        }
      </h5>

      <div class="d-flex align-items-center justify-content-between mb-2">
        <p class="body-p2 mb-0">
          <span class="text-17-medium">{{ 'popup.cart.free_shipping' | translate }}</span>
          {{ 'popup.cart.on_orders_over' | translate }}
          <span class="text-17-medium">
            {{ freeShippingThreshold | currency: 'EGP' : 'symbol' : '1.0-2' }}
          </span>
        </p>

        @if (isCartLoading() || isItemLoading()) {
          <span class="badge text-bg-secondary">جارٍ الحساب</span>
        } @else if (hasFreeShipping()) {
          <span class="badge text-bg-success">شحن مجاني</span>
        } @else {
          <span class="badge text-bg-warning">قريب</span>
        }
      </div>

      <div class="box-progress-bar-block">
        <div class="progress">
          <div
            class="progress-bar"
            [style.width.%]="shippingProgress()"
            [attr.aria-valuenow]="shippingProgress()"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>

      <div class="box-products-cart">
        @if (isCartLoading() || !cart()) {
          <div class="py-2 text-center">
            <div class="spinner-border spinner-border-sm" role="status" aria-label="Loading">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        } @else if (items().length === 0) {
          <div class="box-empty-cart">
            <div class="icon-empty-cart">
              <img src="/imgs/template/icons/empty-cart.svg" alt="Guza" />
            </div>
            <div class="info-empty-cart">
              <p class="text-17 neutral-medium-dark">
                {{ 'popup.cart.empty_cart' | translate }}
              </p>
              <a class="link-underline">
                {{ 'popup.cart.add_from_wishlist' | translate }}
              </a>
            </div>
          </div>
        } @else {
          <div class="list-items-cart">
            @for (item of items(); track item.id) {
              <div class="item-cart">
                <div class="item-cart-image">
                  <img src="/imgs/page/cart/sp.png" alt="Guza" />
                </div>

                <div class="item-cart-info">
                  <div class="item-cart-info-1">
                    <a class="text-16-medium">{{ displayName(item) }}</a>

                    <div class="box-info-size-color-product">
                      <p class="box-color">
                        <span class="body-p2 neutral-medium-dark">
                          {{ 'popup.cart.color' | translate }}
                        </span>
                        <span class="body-p2 neutral-dark">Navy</span>
                      </p>
                      <p class="box-size">
                        <span class="body-p2 neutral-medium-dark">
                          {{ 'popup.cart.size' | translate }}
                        </span>
                        <span class="body-p2 neutral-dark">S</span>
                      </p>
                    </div>

                    <p class="body-p2 d-block d-sm-none mb-8">{{ item.unitPriceSnapshot }}</p>

                    <div class="box-form-cart">
                      <div class="form-cart detail-qty">
                        <span
                          class="minus"
                          (click)="canClick() && decrease(item)"
                          [class.disabled]="!canClick()"
                        ></span>
                        <input
                          class="qty-val form-control"
                          type="text"
                          name="quantity"
                          [value]="item.quantity"
                          readonly
                        />

                        <span
                          class="plus"
                          (click)="canClick() && add(item)"
                          [class.disabled]="!canClick()"
                        ></span>
                      </div>
                    </div>
                  </div>

                  <div class="item-cart-info-2">
                    <p class="body-p2 d-none d-sm-block">
                      {{ item.unitPriceSnapshot | currency: 'EGP' : 'symbol' : '1.0-2' }}
                    </p>
                    <a
                      class="btn-remove-cart"
                      (click)="canClick() && removeItem(item); $event.preventDefault()"
                      [class.disabled]="!canClick()"
                    ></a>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      </div>

      <div class="box-products-search">
        <h6 class="text-18-medium mb-20">
          {{ 'popup.cart.you_may_like' | translate }}
        </h6>
      </div>

      <div class="box-fire">
        <div class="icon-fire body-p2">
          {{ 'popup.cart.checkout_warning' | translate }}
          <span class="text-17-medium">
            {{ 'popup.cart.gone' | translate }}
          </span>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-between mt-25 mb-15">
        <h6 class="neutral-medium-dark">
          {{ 'popup.cart.subtotal' | translate }}
        </h6>
        <h6 class="neutral-dark">{{ totalPrice() | currency: 'EGP' : 'symbol' : '1.0-2' }}</h6>
      </div>

      <div class="box-button-popup-cart d-flex align-items-center justify-content-between">
        <a class="btn btn-border w-100 mr-5" routerLink="/cart">
          {{ 'popup.cart.view_cart' | translate }}
        </a>
        <a class="btn btn-black w-100 ml-5" routerLink="/checkout">
          {{ 'popup.cart.check_out' | translate }}
        </a>
      </div>
    </div>
  </div>
}

@if (activePopup === 'wishlist') {
  <div class="box-popup-wishlist" [class.active]="activePopup === 'wishlist'">
    <div class="box-wishlist-wrapper" [class.active]="activePopup === 'wishlist'">
      <h5 class="mb-15">
        {{ 'popup.wishlist.title' | translate }}
        @if (isWishLoading() || isWishItemLoading()) {
          <div class="py-2 text-center">
            <div class="spinner-border spinner-border-sm" role="status" aria-label="Loading">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        } @else {
          ({{ wishTotalQty() }})
        }
      </h5>

      <div class="box-products-cart">
        @if (isWishLoading()) {
          <div class="py-2 text-center">
            <div class="spinner-border spinner-border-sm" role="status" aria-label="Loading">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        } @else if (!wishItems() || wishItems().length === 0) {
          <div class="box-empty-cart">
            <div class="icon-empty-cart">
              <img src="/imgs/template/icons/empty-cart.svg" alt="Guza" />
            </div>
            <div class="info-empty-cart">
              <p class="text-17 neutral-medium-dark">
                {{ 'popup.wishlist.empty_cart' | translate }}
              </p>
              <a class="link-underline">
                {{ 'popup.wishlist.add_from_wishlist' | translate }}
              </a>
            </div>
          </div>
        } @else {
          <div class="list-items-cart">
            @for (w of wishItems(); track w.id) {
              <div class="item-cart">
                <div class="item-cart-image">
                  <img src="/imgs/page/cart/sp.png" alt="Guza" />
                </div>

                <div class="item-cart-info">
                  <div class="item-cart-info-1">
                    <!-- لو عندك اسم مختلف غير name غيّره هنا -->
                    <a class="text-16-medium">{{ w.id }}</a>

                    <div class="box-info-size-color-product">
                      <p class="box-color">
                        <span class="body-p2 neutral-medium-dark">
                          {{ 'popup.wishlist.color' | translate }}
                        </span>
                        <span class="body-p2 neutral-dark">{{ w.id }}</span>
                      </p>
                      <p class="box-size">
                        <span class="body-p2 neutral-medium-dark">
                          {{ 'popup.wishlist.size' | translate }}
                        </span>
                        <span class="body-p2 neutral-dark">{{ w.id }}</span>
                      </p>
                    </div>

                    <p class="body-p2 d-block d-sm-none mb-8">
                      <!-- {{ w.price ?? w.unitPrice ?? 0 | currency: 'EGP' : 'symbol' : '1.0-2' }} -->
                    </p>

                    <div class="box-form-cart">
                      <div class="btn btn-black">
                        {{ 'popup.wishlist.add_to_cart' | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="item-cart-info-2">
                    <p class="body-p2 d-none d-sm-block">
                      <!-- {{ w.price ?? w.unitPrice ?? 0 | currency: 'EGP' : 'symbol' : '1.0-2' }} -->
                    </p>

                    <a
                      class="btn-remove-cart"
                      (click)="removeWishItem(w.id); $event.preventDefault()"
                      [class.disabled]="isWishItemLoading()"
                    ></a>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      </div>

      <div class="box-products-search">
        <h6 class="text-18-medium mb-10">
          {{ 'popup.wishlist.you_may_like' | translate }}
        </h6>

        <!-- سيبناها static زي ما هي عندك -->
        <div class="box-list-product-search">
          <div class="item-product-search">
            <div class="cardProductStyle3 cardProductType03 cardProductType02 wow fadeInUp">
              <div class="cardImage">
                <a>
                  <img class="imageMain" src="/imgs/page/popup/product-1.png" alt="guza" />
                  <img class="imageHover" src="/imgs/page/popup/product-5.png" alt="guza" />
                </a>
                <div class="button-select">
                  <a>{{ 'popup.wishlist.select_options' | translate }}</a>
                </div>
              </div>
              <div class="cardInfo">
                <h6 class="text-16-medium">illow Covers Luxury</h6>
                <p class="body-p2 cardDesc">$24.00</p>
              </div>
            </div>
          </div>

          <div class="item-product-search">
            <div class="cardProductStyle3 cardProductType03 cardProductType02 wow fadeInUp">
              <div class="cardImage">
                <a>
                  <img class="imageMain" src="/imgs/page/popup/product-2.png" alt="guza" />
                  <img class="imageHover" src="/imgs/page/popup/product-6.png" alt="guza" />
                </a>
                <div class="button-select">
                  <a>{{ 'popup.wishlist.select_options' | translate }}</a>
                </div>
              </div>
              <div class="cardInfo">
                <h6 class="text-16-medium">Pillow Covers Linen</h6>
                <p class="body-p2 cardDesc">$36.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
