/* .pagination li a {
    font-weight: 400;
    font-size: 17px;
    line-height: 42px;
    color: #181A1F;
    border: 0px;
    max-width: 42px;
    min-width: 42px;
    width: 100%;
    text-align: center;
    padding: 0px 0px;
    margin-left: 5px;
    margin-right: 5px;
    height: 42px;
    border-radius: 50%;
} */
/* pagination must stay LTR even in RTL pages */
[dir="rtl"] .box-pagination {
    direction: ltr;
    text-align: center;
}

/* reverse visual order of prev/next buttons */
[dir="rtl"] .box-pagination .page-prev svg,
[dir="rtl"] .box-pagination .page-next svg {
    transform: rotate(180deg);
}