<main class="main">
  <section class="section banner-homepage2 banner-homepage5">
    <div class="box-swiper">

      @if (isSwiperReady && (langService.lang$ | async) === 'ar') {
      <swiper-container dir="rtl" loop="true" pagination-clickable="true" pagination="true" autoplay-delay="4000">
        <swiper-slide>
          <div class="box-cover-image" style="background-image: url(/imgs/page/homepage5/banner.png)"></div>
          <div class="box-banner-info">
            <div class="row">
              <div class="col-sm-7">
                <h2 class="text-72-bold color-primary-dark mb-15">
                  {{ 'home.banner.title_line1' | translate }}<br class="d-none d-lg-block" />
                  {{ 'home.banner.title_line2' | translate }}
                </h2>
                <p class="text-18 mb-35">
                  {{ 'home.banner.subtitle' | translate }}
                </p>
                <div class="text-start">
                  <a class="btn btn-brown" href="#">
                    {{ 'home.banner.button' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="box-cover-image" style="background-image: url(/imgs/page/homepage5/banner-2.png)"></div>
          <div class="box-banner-info">
            <div class="row">
              <div class="col-sm-7">
                <h2 class="text-72-bold color-primary-dark mb-15">
                  {{ 'home.banner.title_line1' | translate }}<br class="d-none d-lg-block" />
                  {{ 'home.banner.title_line2' | translate }}
                </h2>
                <p class="text-18 mb-35">
                  {{ 'home.banner.subtitle' | translate }}
                </p>
                <div class="text-start">
                  <a class="btn btn-brown" href="#">
                    {{ 'home.banner.button' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="box-cover-image" style="background-image: url(/imgs/page/homepage5/banner3.png)"></div>
          <div class="box-banner-info">
            <div class="row">
              <div class="col-sm-7">
                <h2 class="text-72-bold color-primary-dark mb-15">
                  {{ 'home.banner.title_line1' | translate }}<br class="d-none d-lg-block" />
                  {{ 'home.banner.title_line2' | translate }}
                </h2>
                <p class="text-18 mb-35">
                  {{ 'home.banner.subtitle' | translate }}
                </p>
                <div class="text-start">
                  <a class="btn btn-brown" href="#">
                    {{ 'home.banner.button' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
      }

      @if (isSwiperReady && (langService.lang$ | async) === 'en') {
      <swiper-container dir="ltr" loop="true" pagination-clickable="true" pagination="true" autoplay-delay="4000">
        <swiper-slide>
          <div class="box-cover-image" style="background-image: url(/imgs/page/homepage5/banner.png)"></div>
          <div class="box-banner-info">
            <div class="row">
              <div class="col-sm-7">
                <h2 class="text-72-bold color-primary-dark mb-15">
                  {{ 'home.banner.title_alt_line1' | translate }}<br class="d-none d-lg-block" />
                  {{ 'home.banner.title_alt_line2' | translate }}
                </h2>
                <p class="text-18 mb-35">
                  {{ 'home.banner.subtitle' | translate }}
                </p>
                <div class="text-start">
                  <a class="btn btn-brown" href="#">
                    {{ 'home.banner.button' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="box-cover-image" style="background-image: url(/imgs/page/homepage5/banner-2.png)"></div>
          <div class="box-banner-info">
            <div class="row">
              <div class="col-sm-7">
                <h2 class="text-72-bold color-primary-dark mb-15">
                  {{ 'home.banner.title_line1' | translate }}<br class="d-none d-lg-block" />
                  {{ 'home.banner.title_line2' | translate }}
                </h2>
                <p class="text-18 mb-35">
                  {{ 'home.banner.subtitle' | translate }}
                </p>
                <div class="text-start">
                  <a class="btn btn-brown" href="#">
                    {{ 'home.banner.button' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="box-cover-image" style="background-image: url(/imgs/page/homepage5/banner3.png)"></div>
          <div class="box-banner-info">
            <div class="row">
              <div class="col-sm-7">
                <h2 class="text-72-bold color-primary-dark mb-15">
                  {{ 'home.banner.title_line1' | translate }}<br class="d-none d-lg-block" />
                  {{ 'home.banner.title_line2' | translate }}
                </h2>
                <p class="text-18 mb-35">
                  {{ 'home.banner.subtitle' | translate }}
                </p>
                <div class="text-start">
                  <a class="btn btn-brown" href="#">
                    {{ 'home.banner.button' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
      }

    </div>
  </section>

  <section class="section block-collection-1">
    <div class="container">
      <div class="image-background">
        <div class="row align-items-center">
          <div class="col-lg-6 wow fadeInLeft">
            <img src="/imgs/page/homepage5/img-collection.png" alt="Guza" />
          </div>
          <div class="col-lg-6">
            <div class="box-info-collection-1 wow fadeInDown">
              <h2 class="text-48-semibold mb-15">
                {{ 'home.collection.title' | translate }}
              </h2>
              <p class="body-p2 mb-30">
                {{ 'home.collection.description' | translate }}
              </p>
              <a class="btn btn-black" href="#">
                {{ 'home.collection.button' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section block-about">
    <div class="container">
      <div class="text-center">
        <h3 class="neutral-dark mb-40 wow fadeInDown">
          {{ 'home.reviews.title' | translate }}
        </h3>
      </div>

      <div class="box-slide-customers wow fadeInUp">
        <p class="overtime-t1 mb-15">
          {{ 'home.reviews.tagline' | translate }}
        </p>

        <p class="text-36-semibold mb-30">
          {{ 'home.reviews.description' | translate }}
        </p>

        <a class="link-underline" href="#">
          {{ 'home.reviews.read_more' | translate }}
        </a>
      </div>
    </div>
  </section>


  <section class="section block-product-tabs">
    <div class="container">
      <div class="text-center">
        <div class="box-tabs">
          <ul class="nav nav-tabs nav-tabs-big" role="tablist">

            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="bestseller-tab" data-bs-toggle="tab" data-bs-target="#bestseller"
                type="button" role="tab" aria-controls="bestseller" aria-selected="true">
                {{ 'home.tabs.best_sellers' | translate }}
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="newproducts-tab" data-bs-toggle="tab" data-bs-target="#newproducts"
                type="button" role="tab" aria-controls="newproducts" aria-selected="false">
                {{ 'home.tabs.new_products' | translate }}
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="salesproducts-tab" data-bs-toggle="tab" data-bs-target="#salesproducts"
                type="button" role="tab" aria-controls="salesproducts" aria-selected="false">
                {{ 'home.tabs.sales_products' | translate }}
              </button>
            </li>

          </ul>
        </div>
      </div>

      <div class="tab-content">


        <div class="tab-pane fade show active" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
          <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product1.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product1-hover.png" alt="guza" />
                  </a>

                  <div class="button-select">
                    <a href="#">
                      {{ 'home.product.select_options' | translate }}
                    </a>
                  </div>

                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>

                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product2.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product2-hover.png" alt="guza" />
                  </a>

                  <div class="button-select">
                    <a href="#">
                      {{ 'home.product.select_options' | translate }}
                    </a>
                  </div>

                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>

                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product3.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product1-hover.png" alt="guza" />
                  </a>

                  <div class="button-select">
                    <a href="#">
                      {{ 'home.product.select_options' | translate }}
                    </a>
                  </div>

                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>

                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product4.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product2-hover.png" alt="guza" />
                  </a>

                  <div class="button-select">
                    <a href="#">
                      {{ 'home.product.select_options' | translate }}
                    </a>
                  </div>

                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>

                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

          </div>
        </div>





        <div class="tab-pane fade" id="newproducts" role="tabpanel" aria-labelledby="newproducts-tab">
          <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product8.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product2-hover.png" alt="guza" />
                  </a>

                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>

                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>

                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product7.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product1-hover.png" alt="guza" />
                  </a>

                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>

                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>

                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product6.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product2-hover.png" alt="guza" />
                  </a>

                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>

                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>

                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product5.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product1-hover.png" alt="guza" />
                  </a>

                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>

                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>

                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="tab-pane fade" id="salesproducts" role="tabpanel" aria-labelledby="salesproducts-tab">
          <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product5.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product1-hover.png" alt="guza" />
                  </a>
                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>
                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>
                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product2.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product2-hover.png" alt="guza" />
                  </a>
                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>
                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>
                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product6.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product2-hover.png" alt="guza" />
                  </a>
                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>
                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>
                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product4.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product1-hover.png" alt="guza" />
                  </a>
                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>
                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>
                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product8.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product2-hover.png" alt="guza" />
                  </a>
                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>
                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>
                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product3.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product1-hover.png" alt="guza" />
                  </a>
                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>
                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>
                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product7.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product2-hover.png" alt="guza" />
                  </a>
                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>
                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>
                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <a href="#">
                    <img class="imageMain" src="/imgs/page/homepage2/product1.png" alt="guza" />
                    <img class="imageHover" src="/imgs/page/homepage1/product1-hover.png" alt="guza" />
                  </a>
                  <div class="button-select">
                    <a href="#">{{ 'home.product.select_options' | translate }}</a>
                  </div>
                  <div class="box-quick-button">
                    <a class="btn" href="#"></a>
                    <a class="btn" href="#"></a>
                    <a class="btn preview-product" href="#"></a>
                  </div>
                </div>
                <div class="cardInfo">
                  <a href="#">
                    <h6 class="text-16-medium cardTitle">
                      {{ 'home.product.title' | translate }}
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">$16.00</p>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </section>






  <section class="section block-icon-box">
    <div class="container">
      <div class="row">
        <div class="col-md-4 hasborder">
          <div class="cardIcon wow fadeInUp">
            <div class="cardImage">
              <img src="/imgs/page/homepage3/ship.svg" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h5 class="cardTitle">
                {{ 'home.features.shipping_title' | translate }}
              </h5>
              <p class="body-p2">
                {{ 'home.features.shipping_desc' | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 hasborder">
          <div class="cardIcon wow fadeInUp">
            <div class="cardImage">
              <img src="/imgs/page/homepage3/return.svg" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h5 class="cardTitle">
                {{ 'home.features.returns_title' | translate }}
              </h5>
              <p class="body-p2">
                {{ 'home.features.returns_desc' | translate }}
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="cardIcon wow fadeInUp">
            <div class="cardImage">
              <img src="/imgs/page/homepage3/payment.svg" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h5 class="cardTitle">
                {{ 'home.features.payment_title' | translate }}
              </h5>
              <p class="body-p2">
                {{ 'home.features.payment_desc' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section block-instagram-type-5">
    <div class="container">
      <div class="text-center">
        <h3 class="wow fadeInLeft">
          {{ 'home.instagram.title' | translate }}
          <span class="primary-navy">
            {{ 'home.instagram.hashtag' | translate }}
          </span>
        </h3>
      </div>

      <div class="box-gallery-instagram-type-5 wow fadeInRight">
        <div class="gallery-1">
          <img src="/imgs/page/homepage3/inst-img.png" alt="kidify" />
        </div>
        <div class="gallery-2">
          <img src="/imgs/page/homepage3/inst-img2.png" alt="kidify" />
          <img src="/imgs/page/homepage3/inst-img3.png" alt="kidify" />
          <img src="/imgs/page/homepage3/inst-img4.png" alt="kidify" />
          <img src="/imgs/page/homepage3/inst-img5.png" alt="kidify" />
          <img src="/imgs/page/homepage3/inst-img6.png" alt="kidify" />
          <img src="/imgs/page/homepage3/inst-img7.png" alt="kidify" />
        </div>
      </div>
    </div>
  </section>

</main>