<main class="main">
  <section class="section banner-500">
    <div class="box-cover-image wow fadeInUp"></div>
    <div class="box-banner-info">
      <p class="overline-t2-medium text-uppercase primary-navy mb-10">Store Locations</p>
      <h2 class="color-primary-dark mb-30">
        Our stores are open <br class="d-none d-lg-block" />Day of the year
      </h2>
    </div>
  </section>
  <section class="section block-our-store">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-50">
          <div class="cardStore">
            <div class="cardImage"><img src="/imgs/page/store/store.png" alt="Guza" /></div>
            <div class="cardInfo">
              <h5 class="mb-10">Lincoln Park</h5>
              <p class="body-p2 neutral-medium mb-25">211 W Armitage Ave, Chicago, IL 60614</p>
              <p class="body-p2 neutral-medium-dark mb-10">T. +1 773 6216 240</p>
              <p class="body-p2 neutral-medium-dark mb-10">E. hello@uxper.co</p>
              <p class="body-p2 neutral-medium-dark mb-25">
                Mon: Closed, Tue-Sat: 12PM-6PM, Sun: Closed
              </p>
              <a class="link-underline" routerLink="/">See Inventory</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-50">
          <div class="cardStore">
            <div class="cardImage"><img src="/imgs/page/store/store2.png" alt="Guza" /></div>
            <div class="cardInfo">
              <h5 class="mb-10">Georgetown</h5>
              <p class="body-p2 neutral-medium mb-25">332 M St NW, Washington, DC 20007</p>
              <p class="body-p2 neutral-medium-dark mb-10">T. +1 202 823 4267</p>
              <p class="body-p2 neutral-medium-dark mb-10">E. hello@uxper.co</p>
              <p class="body-p2 neutral-medium-dark mb-25">
                Mon: Closed, Tue-Sat: 12PM-6PM, Sun: Closed
              </p>
              <a class="link-underline" routerLink="/">See Inventory</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6 mb-50">
          <div class="cardStore">
            <div class="cardImage"><img src="/imgs/page/store/store3.png" alt="Guza" /></div>
            <div class="cardInfo">
              <h5 class="mb-10">Hayes Valley</h5>
              <p class="body-p2 neutral-medium mb-25">123 Hayes St, San Francisco, CA 94102</p>
              <p class="body-p2 neutral-medium-dark mb-10">T. +1 415 6485 211</p>
              <p class="body-p2 neutral-medium-dark mb-10">E. hello@uxper.co</p>
              <p class="body-p2 neutral-medium-dark mb-25">
                Mon: Closed, Tue-Sat: 12PM-6PM, Sun: Closed
              </p>
              <a class="link-underline" routerLink="/">See Inventory</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-50">
          <div class="cardStore">
            <div class="cardImage"><img src="/imgs/page/store/store4.png" alt="Guza" /></div>
            <div class="cardInfo">
              <h5 class="mb-10">Los Angeles</h5>
              <p class="body-p2 neutral-medium mb-25">8425 Melrose Ave, Los Angeles, CA 90069</p>
              <p class="body-p2 neutral-medium-dark mb-10">T. +1 970 429 4170</p>
              <p class="body-p2 neutral-medium-dark mb-10">E. hello@uxper.co</p>
              <p class="body-p2 neutral-medium-dark mb-25">
                Mon: Closed, Tue-Sat: 12PM-6PM, Sun: Closed
              </p>
              <a class="link-underline" routerLink="/">See Inventory</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</main>
