<main class="main">
  <section class="section banner-500">
    <div class="box-cover-image wow fadeInUp"></div>
    <div class="box-banner-info">
      <p class="overline-t2-medium text-uppercase primary-navy mb-10">
        {{ 'stores.banner.label' | translate }}
      </p>
      <h2 class="color-primary-dark mb-30">
        {{ 'stores.banner.title_line1' | translate }}
        <br class="d-none d-lg-block" />
        {{ 'stores.banner.title_line2' | translate }}
      </h2>
    </div>
  </section>

  <section class="section block-our-store">
    <div class="container">
      <div class="row">
        <!-- Lincoln Park -->
        <div class="col-lg-6 col-md-6 mb-50">
          <div class="cardStore">
            <div class="cardImage">
              <img src="/imgs/page/store/store.png" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h5 class="mb-10">
                {{ 'stores.cards.lincolnPark.name' | translate }}
              </h5>
              <p class="body-p2 neutral-medium mb-25">
                {{ 'stores.cards.lincolnPark.address' | translate }}
              </p>
              <p class="body-p2 neutral-medium-dark mb-10">
                {{ 'stores.cards.lincolnPark.phone' | translate }}
              </p>
              <p class="body-p2 neutral-medium-dark mb-10">
                {{ 'stores.cards.lincolnPark.email' | translate }}
              </p>
              <p class="body-p2 neutral-medium-dark mb-25">
                {{ 'stores.cards.lincolnPark.hours' | translate }}
              </p>
              <a class="link-underline" routerLink="/">
                {{ 'stores.cards.lincolnPark.action' | translate }}
              </a>
            </div>
          </div>
        </div>

        <!-- Georgetown -->
        <div class="col-lg-6 col-md-6 mb-50">
          <div class="cardStore">
            <div class="cardImage">
              <img src="/imgs/page/store/store2.png" alt="Guza" />
            </div>
            <div class="cardInfo">
              <h5 class="mb-10">
                {{ 'stores.cards.georgetown.name' | translate }}
              </h5>
              <p class="body-p2 neutral-medium mb-25">
                {{ 'stores.cards.georgetown.address' | translate }}
              </p>
              <p class="body-p2 neutral-medium-dark mb-10">
                {{ 'stores.cards.georgetown.phone' | translate }}
              </p>
              <p class="body-p2 neutral-medium-dark mb-10">
                {{ 'stores.cards.georgetown.email' | translate }}
              </p>
              <p class="body-p2 neutral-medium-dark mb-25">
                {{ 'stores.cards.georgetown.hours' | translate }}
              </p>
              <a class="link-underline" routerLink="/">
                {{ 'stores.cards.georgetown.action' | translate }}
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>