<main class="main">
  <section class="section block-head">
    <div class="container">
      <div class="text-center wow bounceIn">
        <h1>{{ 'blog.header.title' | translate }}</h1>
        <div class="breadcrumbs d-inline-block">
          <ul>
            <li>
              <a routerLink="/">{{ 'blog.header.breadcrumb_home' | translate }} </a>
            </li>
            <li>
              <a>{{ 'blog.header.breadcrumb_blog' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section block-blog-list">
    <div class="container">
      <ul class="nav-tabs nav-tab-grey wow bounceIn">
        <li>
          <a
            href="#"
            (click)="$event.preventDefault(); setTab('all')"
            [class.active]="activeTab() === 'all'"
            >{{ 'blog.tabs.all' | translate }}</a
          >
        </li>
        <li>
          <a
            (click)="$event.preventDefault(); setTab('fashion')"
            [class.active]="activeTab() === 'fashion'"
            >{{ 'blog.tabs.fashion' | translate }}</a
          >
        </li>
        <li>
          <a
            (click)="$event.preventDefault(); setTab('lifestyle')"
            [class.active]="activeTab() === 'lifestyle'"
            >{{ 'blog.tabs.lifestyle' | translate }}</a
          >
        </li>
        <li>
          <a
            (click)="$event.preventDefault(); setTab('inspiration')"
            [class.active]="activeTab() === 'inspiration'"
            >{{ 'blog.tabs.inspiration' | translate }}</a
          >
        </li>
        <li>
          <a
            (click)="$event.preventDefault(); setTab('photography')"
            [class.active]="activeTab() === 'photography'"
            routerLinkActive=""
            >{{ 'blog.tabs.photography' | translate }}</a
          >
        </li>
      </ul>

      <div class="row wow bounceIn">
        @if (blogAPI.isLoading()) {
          <div class="col-12 text-center py-5">Loading...</div>
        } @else {
          @for (b of items(); track b.id) {
            <div class="col-lg-4 col-md-6">
              <div class="cardBlog wow fadeInUp">
                <div class="cardImage">
                  <a [routerLink]="['/blog', encodeId(b.id), b.slug]">
                    <img [src]="blogImage(b)" alt="blog" />
                  </a>
                </div>
                <div class="cardInfo">
                  <div class="cardTags">
                    <a href="#">{{ 'blog.card.tag_fashion' | translate }}</a>
                    <span class="date-post">{{ b.publishedAt | date: 'dd MMM, yyyy' }}</span>
                  </div>

                  <a class="cardTitle" [routerLink]="['/blog', encodeId(b.id), b.slug]">
                    <h5>{{ b.title }}</h5>
                  </a>
                  <p class="cardDesc body-p2">
                    {{ b.excerpt }}
                  </p>
                  <a
                    class="link-underline link-l2"
                    [routerLink]="['/blog', encodeId(b.id), b.slug]"
                  >
                    {{ 'blog.card.read_more' | translate }}
                  </a>
                </div>
              </div>
            </div>
          } @empty {
            <div class="col-12 text-center py-5">No blogs found.</div>
          }
        }
      </div>

      <div class="text-center mt-40 wow bounceIn">
        <a
          class="btn btn-black"
          href="#"
          (click)="$event.preventDefault(); canNext() && !blogAPI.isLoading() && next()"
          [class.disabled]="!canNext() || blogAPI.isLoading()"
          [attr.aria-disabled]="!canNext() || blogAPI.isLoading() ? true : null"
        >
          <svg
            class="icon-16"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M15.625 0.25 ..."></path>
          </svg>

          @if (blogAPI.isLoading()) {
            Loading...
          } @else {
            {{ 'blog.load_more' | translate }}
          }
        </a>
      </div>
    </div>
  </section>
</main>
