<footer class="footer">
  <div class="footer-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-30">
          <h5 class="color-white mb-20">
            {{'footer.newsletter.title' | translate}}<span class="tone-red">{{'footer.newsletter.discount' |
              translate}}</span><br class="d-none d-md-block" />{{'footer.newsletter.subtitle_line1' | translate}}<br
              class="d-none d-md-block" />{{'footer.newsletter.subtitle_line2' | translate}}
          </h5>
          <div class="box-form-subscribe box-form-subscribe-white">
            <form class="form-sub" action="#" method="POST">
              <input class="form-control" type="text"
                [placeholder]="'footer.newsletter.email_placeholder' | translate" />
              <input class="btn btn-subscribe" type="submit"
                [value]="'footer.newsletter.subscribe_button' | translate" />
            </form>
          </div>
        </div>
        <div class="col-lg-8 mb-30">
          <div class="row">
            <div class="col-lg-3 mb-30 footerBorder">
              <h6 class="color-white mb-20">{{'footer.company.title' | translate}}</h6>
              <ul class="menu-footer">
                <li><a routerLink="/about">{{'footer.company.about_us' | translate}}</a></li>
                <li><a routerLink="/carrers">{{'footer.company.careers' | translate}}</a></li>
                <li><a routerLink="/storeLocation">{{'footer.company.store_locator' | translate}}</a></li>
                <li><a routerLink="/lookbook">{{'footer.company.lookbook' | translate}}</a></li>
              </ul>
            </div>
            <div class="col-lg-3 mb-30 footerBorder">
              <h6 class="color-white mb-20">{{'footer.customer_service.title' | translate}}</h6>
              <ul class="menu-footer">
                <li><a routerLink="/about">{{'footer.customer_service.size_guide' | translate}}</a></li>
                <li><a routerLink="/FAQ">{{'footer.customer_service.help_faqs' | translate}}</a></li>
                <li><a routerLink="/carrers">{{'footer.customer_service.return_order' | translate}}</a></li>
                <li><a routerLink="/referAFriend">{{'footer.customer_service.refer_friend' | translate}}</a></li>
              </ul>
            </div>
            <div class="col-lg-3 mb-30 footerBorder">
              <h6 class="color-white mb-20">{{'footer.terms_policies.title' | translate}}</h6>
              <ul class="menu-footer">
                <li><a routerLink="/">{{'footer.terms_policies.duties_taxes' | translate}}</a></li>
                <li><a routerLink="/">{{'footer.terms_policies.shipping_info' | translate}}</a></li>
                <li><a routerLink="/">{{'footer.terms_policies.privacy_policy' | translate}}</a></li>
                <li><a routerLink="/">{{'footer.terms_policies.terms_conditions' | translate}}</a></li>
              </ul>
            </div>
            <div class="col-lg-3 mb-30 footerBorder">
              <h6 class="color-white mb-20">{{'footer.follow_us.title' | translate}}</h6>
              <ul class="menu-footer">
                <li><a routerLink="/">{{'footer.follow_us.instagram' | translate}}</a></li>
                <li><a href="https://www.facebook.com/hipinkstore">{{'footer.follow_us.facebook' | translate}}</a></li>
                <li><a routerLink="/">{{'footer.follow_us.pinterest' | translate}}</a></li>
                <li><a routerLink="/">{{'footer.follow_us.tiktok' | translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-2">
    <div class="container">
      <div class="footer-bottom">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20">
            <img class="mr-25 d-inline-block align-middle logo-footer-img" src="/imgs/template/logo-light.svg"
              alt="Guza" /><span class="body-p1 color-white d-inline-block align-middle">{{'footer.bottom.copyright' |
              translate}}</span>
          </div>
          <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
            <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
              <div class="d-inline-block box-payments mr-20">
                <img src="/imgs/template/icons/visa.svg" alt="Guza" /><img src="/imgs/template/icons/master.svg"
                  alt="Guza" /><img src="/imgs/template/icons/stripe.svg" alt="Guza" /><img
                  src="/imgs/template/icons/paypal.svg" alt="Guza" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>