<main class="main">
  <section class="section block-content-lookbook">
    <div class="list-lookbok">
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">
            {{ 'lookbook.items.0.title' | translate }}
          </p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">
              {{ 'lookbook.items.0.button' | translate }}
            </a>
          </div>
        </div>
      </div>

      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img2.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">
            {{ 'lookbook.items.1.title' | translate }}
          </p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">
              {{ 'lookbook.items.1.button' | translate }}
            </a>
          </div>
        </div>
      </div>

      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img3.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">
            {{ 'lookbook.items.2.title' | translate }}
          </p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">
              {{ 'lookbook.items.2.button' | translate }}
            </a>
          </div>
        </div>
      </div>

      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img4.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">
            {{ 'lookbook.items.3.title' | translate }}
          </p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">
              {{ 'lookbook.items.3.button' | translate }}
            </a>
          </div>
        </div>
      </div>

      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img5.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">
            {{ 'lookbook.items.4.title' | translate }}
          </p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">
              {{ 'lookbook.items.4.button' | translate }}
            </a>
          </div>
        </div>
      </div>

      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img6.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">
            {{ 'lookbook.items.5.title' | translate }}
          </p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">
              {{ 'lookbook.items.5.button' | translate }}
            </a>
          </div>
        </div>
      </div>

      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img7.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">
            {{ 'lookbook.items.6.title' | translate }}
          </p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">
              {{ 'lookbook.items.6.button' | translate }}
            </a>
          </div>
        </div>
      </div>

      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img8.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">
            {{ 'lookbook.items.7.title' | translate }}
          </p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">
              {{ 'lookbook.items.7.button' | translate }}
            </a>
          </div>
        </div>
      </div>

      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img9.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">
            {{ 'lookbook.items.8.title' | translate }}
          </p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">
              {{ 'lookbook.items.8.button' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>