<main class="main">
  <section class="section block-content-lookbook">
    <div class="list-lookbok">
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">WINTER 2023</p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">Discover</a>
          </div>
        </div>
      </div>
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img2.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">MENWEAR 2023</p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">Discover</a>
          </div>
        </div>
      </div>
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img3.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">SUMNER 2023</p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">Discover</a>
          </div>
        </div>
      </div>
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img4.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">JACKETS 2023</p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">Discover</a>
          </div>
        </div>
      </div>
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img5.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">RESORT 2023</p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">Discover</a>
          </div>
        </div>
      </div>
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img6.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">FALL / SPRING 2023</p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">Discover</a>
          </div>
        </div>
      </div>
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img7.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">BEACH CAPSULE</p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">Discover</a>
          </div>
        </div>
      </div>
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img8.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">Autumn JEANS 2023</p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">Discover</a>
          </div>
        </div>
      </div>
      <div class="item-lookbook">
        <div class="item-lookbook-image">
          <img src="/imgs/page/lookbook/img9.png" alt="Guza" />
        </div>
        <div class="item-lookbook-info">
          <p class="text-24 color-white">FALL / WINTER 2022</p>
          <div class="box-button-lookbook">
            <a class="btn btn-border-white" routerLink="/">Discover</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
