<main class="main">
  <div class="section block-breadcrumb">
    <div class="container">
      <div class="breadcrumbs">
        <ul>
          <li><a routerLink="/">{{ 'checkout.breadcrumb.home' | translate }} </a></li>
          <li><a routerLink="/">{{ 'checkout.breadcrumb.checkout' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <section class="section block-cart">
    <div class="container mb-100 mt-60">
      <form action="#">
        <div class="row mt-20">
          <div class="col-lg-6">
            <div class="box-customer-login">
              {{ 'checkout.login_notice.text' | translate }}
              <a routerLink="/">{{ 'checkout.login_notice.action' | translate }}</a>
            </div>
            <div class="box-gift-coupon">
              {{ 'checkout.coupon_notice.text' | translate }}
              <a routerLink="/">{{ 'checkout.coupon_notice.action' | translate }}</a>
            </div>

            <div class="box-title-checkout mt-30">
              <h4 class="mb-25">{{ 'checkout.billing.title' | translate }}</h4>
              <h5 class="mb-20">{{ 'checkout.billing.contact' | translate }}</h5>
            </div>

            <div class="box-form-checkout form-comment">
              <div class="form-group">
                <label class="form-label" for="email">
                  {{ 'checkout.billing.email' | translate }} *
                </label>
                <input class="form-control" id="email" type="text" />
                <label class="mt-12">
                  <input class="cb-left" type="checkbox" />
                  {{ 'checkout.billing.email_news' | translate }}
                </label>
              </div>

              <h4 class="mt-32 mb-25">
                {{ 'checkout.billing.shipping_address' | translate }}
              </h4>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label" for="firstname">
                      {{ 'checkout.billing.first_name' | translate }} *
                    </label>
                    <input class="form-control" id="firstname" type="text" />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label" for="lastname">
                      {{ 'checkout.billing.last_name' | translate }} *
                    </label>
                    <input class="form-control" id="lastname" type="text" />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label" for="region">
                      {{ 'checkout.billing.country_region' | translate }} *
                    </label>
                    <input class="form-control" id="region" type="text" value="United Kingdoom (UK)" />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label" for="address">
                      {{ 'checkout.billing.street_address' | translate }} *
                    </label>
                    <input class="form-control" id="address" type="text" />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label" for="apartment">
                      {{ 'checkout.billing.apartment' | translate }}
                    </label>
                    <input class="form-control" id="apartment" type="text" />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label" for="towncity">
                      {{ 'checkout.billing.city' | translate }} *
                    </label>
                    <input class="form-control" id="towncity" type="text" />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label" for="country">
                      {{ 'checkout.billing.country_optional' | translate }}
                    </label>
                    <input class="form-control" id="country" type="text" />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label" for="postcode">
                      {{ 'checkout.billing.postcode' | translate }} *
                    </label>
                    <input class="form-control" id="postcode" type="text" />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label" for="phone">
                      {{ 'checkout.billing.phone' | translate }} *
                    </label>
                    <input class="form-control" id="phone" type="text" />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label>
                      <input class="cb-left" type="checkbox" />
                      {{ 'checkout.billing.create_account' | translate }}
                    </label>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label>
                      <input class="cb-left" type="checkbox" />
                      {{ 'checkout.billing.different_address' | translate }}
                    </label>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label" for="ordernote">
                      {{ 'checkout.billing.order_note' | translate }}
                    </label>
                    <textarea class="form-control" id="ordernote" rows="6"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box-detail-cart">
              <h4 class="mb-25">{{ 'checkout.order.title' | translate }}</h4>

              <div class="box-info-cart">
                <p class="text-17-medium text-uppercase">
                  {{ 'checkout.order.product' | translate }}
                </p>

                <div class="d-flex align-items-center justify-content-between box-border-bottom">
                  <h5 class="neutral-medium-dark">
                    {{ 'checkout.order.subtotal' | translate }}
                  </h5>
                  <h5 class="neutral-dark">$24.00</h5>
                </div>

                <div class="box-info-cart-inner">
                  <p class="text-17-medium text-uppercase mb-15 neutral-medium-dark">
                    {{ 'checkout.order.shipping' | translate }}
                  </p>
                </div>

                <div class="d-flex align-items-center justify-content-between box-border-bottom">
                  <h5 class="neutral-medium-dark">
                    {{ 'checkout.order.total' | translate }}
                  </h5>
                  <h5 class="color-9">$74.00</h5>
                </div>

                <div class="box-other-link text-start box-border-bottom">
                  <span class="text-17 link-green">
                    {{ 'checkout.order.free_shipping' | translate }}
                  </span>
                  <a class="text-17" routerLink="/">
                    {{ 'checkout.order.continue_shopping' | translate }}
                  </a>
                </div>

                <div class="box-desc-checkout">
                  <p class="body-p2 neutral-medium-dark mb-20">
                    {{ 'checkout.privacy.text' | translate }}
                  </p>
                  <div class="form-group">
                    <label>
                      <input class="cb-left" type="checkbox" />
                      {{ 'checkout.privacy.agree' | translate }}
                      <a routerLink="/">{{ 'checkout.privacy.terms' | translate }}</a>
                    </label>
                  </div>
                </div>

                <div class="box-button-checkout">
                  <a class="btn btn-black" routerLink="/">
                    {{ 'checkout.place_order' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </section>
</main>