name: Deploy Angular to EB

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm ci

      - name: Build Angular
        run: npm run build -- --configuration production

      - name: Zip build
        run: |
          # 1. نسخ ملف الـ Procfile إلى داخل مجلد المتصفح قبل الضغط
          cp Procfile dist/project1/browser/
          
          # 2. الدخول للمجلد والضغط
          cd dist/project1/browser
          zip -r ../../../app.zip .

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::866395943548:role/hipink-frontend-gha-deploy
          aws-region: eu-central-1

      - name: Upload to S3
        run: |
          aws s3 cp app.zip s3://hipink-frontend-deploy-d6ccea/releases/${{ github.sha }}.zip

      - name: Create EB version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name hipink-frontend \
            --version-label ${{ github.sha }} \
            --source-bundle S3Bucket=hipink-frontend-deploy-d6ccea,S3Key=releases/${{ github.sha }}.zip

      - name: Deploy
        run: |
          aws elasticbeanstalk update-environment \
            --environment-name hipink-frontend-prod-d6ccea \
            --version-label ${{ github.sha }}